@import 'tailwindcss';


@theme {
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-input: var(--color-border-input);
  --font-family: var(--font-family);
}

.theme-design1 {
  --color-primary: #36003c;
  --color-secondary: #2463EB;
  --color-background: #fff;
  --color-foreground: #000;
  --color-input: #e0e0e0;
  --font-family: 'Inter', sans-serif;
}
